@import url("https//fonts.google.com/specimen/Roboto");
:root  {
    --primary-color: rgb(25, 29, 89)  ;
    --secondary-color: rgb(182, 173, 173) ;
    --accent1-color: gray ;
    --acccent2-color:  rgb(155, 155, 244);

    --headind-font: '_______', serif;
    --paragraph-font: '_______', serif;

    --nav-backgroud-color: rgb(125, 172, 191);
    --nav-link-color: rgb(29, 40, 51);
    --nav-hover-link-color:rgb(25, 45, 71) ;
    --nav-hover-background-color: rgb(223, 224, 229);
}

main{
    padding: 20pxS;
}
header{
    font-family: var(--headind-font);
    color: var(--primary-color);
}
h1 {
    font-family: var(--headind-font);
    color: white;
    position: absolute;
}
.hero {
    position: relative;
    text-align: center;

}
.hero h1{
    position: absolute;
    top: 20%;
    left: 25%;
    

    color: white;
    background-color:blue ;
    padding: 1px; ;
}

.hero img {
    display:block;
    width: 100%;
    height: auto;
    position: relative;
}

.hero article {
     position: absolute;
     bottom: 20%;
     left:60% ;
     padding: 1px; 
}
.hero article img {
    float: right;
    margin-left:10px ;
}

p {
 color: rgb(20, 19, 19);
}
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}
