@import url("https://fonts.google.com/specimen/Roboto");
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: rgb(25, 29, 89)  ;
    --secondary-color: rgb(182, 173, 173) ;
    --accent1-color: gray ;
    --acccent2-color:  rgb(155, 155, 244);

    --headind-font: '_______', serif;
    --paragraph-font: '_______', serif;

    --nav-backgroud-color: rgb(125, 172, 191);
    --nav-link-color: rgb(29, 40, 51);
    --nav-hover-link-color:rgb(25, 45, 71) ;
    --nav-hover-background-color: rgb(223, 224, 229);
}
   
h1, h2, h3, h4, h5, h6 {
    font-family: var(--headind-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: rgb(96, 229, 229);
}

p {
    padding: 25px;
}
nav{
    background-color: var(--nav-backgroud-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
