
main {
    max-width: 850px;
    grid-column: 2/3;
    margin: 1rem;
}

nav {
    color: white;
    padding: 10px;
    display: block;
 }
 h1{
    color: blue;
 }
aside {
    width: 100rem;
    margin: 1rem;
    border:1px solid rgba(rgb(224, 165, 165), green, rgb(101, 101, 215), alpha) ;
    padding: 1rem ;
    background-color: rgb(147, 176, 197) ;
    color: rgb(35, 35, 4);

}
aside img{
    width: 200px;
    height: auto;
}

main img {
    width:150px ;
    height: auto;
    margin: 0 0 1rem 1rem;
    box-shadow: 0 0 30px gray;
    float: right;

}
p {padding: 0;

}
footer {
    margin-top: 15px;
    border-top:1px solid #33465d ;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* class selector */
.box {
    margin: 1rem;
    border: 1px solid rgb(26, 52, 71);
    padding:1 rem ;
    background-color:#71839c ;
    color:#132a30 ;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 50px;
    left: 130px;
}
header, .grid, footer {
    grid-template-columns: auto;
    grid-column: span;
    grid-row: inherit;
    max-width: 840px;
    margin: 0 auto;
}
nav {
    background-color: rgb(78, 78, 246);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(213, 232, 245);

}
/* header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
} */
.grid {
    display:grid;
    align-items: center;   
}
main {
    grid-column: 2/3;
    margin: 1rem;
}
aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}